body {
--mainfont: 'Open Sans', sans-serif;
--b3: #333;
--mono: 'source-code-pro', monospace;
--ggradient: radial-gradient(circle, rgba(var(--gbg1), 0.9) 0%, rgba(var(--gbg2), 0.9) 85%);
--gbg1: 76, 25, 30;
--gbg2: 91, 113, 172;

#herzeleid {
background-image:url('https://k.nickpic.host/BkCt8P.png');
padding:20px;
border:5px solid #111;
}

.herz1 {
background-color:#111;
padding:10px;
border:1px solid #000;
}

.herz2 {
background-color:#222;
border:1px solid #000;
padding:10px;
font-family:verdana;
font-size:11px;
color:#ccc;
margin-bottom:6px;
}

.mortpost-1 {
    padding: 45px 50px;
    font: 15px / 23px var(--mainfont);
}

.mortpost-1 hr { display: block;
    height: 1px;
    border: 0;
    background: var(--b3);
    margin: 21px 0 0;
}

.mortpost-1 b {
  font-family: poppins;
  letter-spacing: -.2px;
    background: var(--ggradient);
    background-clip: text;
    color: transparent;
    text-shadow: none;
    min-height: 1.1em;
}

.mortpost-1 i {
    background: var(--ggradient);
    background-clip: text;
    color: transparent;
    text-shadow: none;
    min-height: 1.1em;
}
